.manga-page-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#readerContainer.grabbing {
    cursor: grabbing !important;
    scroll-behavior: auto !important; 
}

.reader-img {
    pointer-events: none;
    height: auto;
    display: block;
}


.reader-shell {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#mainViewer {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important;
    width: 100%;
    overflow: hidden; 
}

#readerContainer {
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    overflow: auto !important;
    display: flex !important;
}

    #readerContainer.webtoon-mode {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        padding: 20px 0;
    }

    #readerContainer.paged-mode {
        display: flex !important;
        flex-wrap: nowrap !important;
        flex-direction: row !important;
        align-items: center;
        overflow-x: auto !important;
        overflow-y: hidden !important;
        gap: 30px;
        padding: 20px;
        height: 100vh;
    }

        #readerContainer.paged-mode .manga-page-wrapper {
            flex: 0 0 auto;
            width: auto; 
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #readerContainer.paged-mode img.reader-img {
            width: auto;
            max-width: none; 
            display: block;
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
        }
