@page
@using KamiYomu.Web.Extensions
@using KamiYomu.Web.Areas.Reader.Pages.History;
@model IndexModel

@{
    ViewData["Title"] = I18n.ReadingHistory;
}
<vc:reader-header return-url="@Url.Page("/MangaGallery/Index", new { area = "Reader"} )" />

<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2><i class="bi bi-clock-history me-2"></i>@I18n.ReadingHistory</h2>
        <button class="btn btn-outline-primary btn-sm"
                hx-get="/History"
                hx-target="#history-container"
                hx-select="#history-container">
            <i class="bi bi-arrow-clockwise"></i> @I18n.Refresh
        </button>
    </div>

    <div id="history-container">
        <partial name="_HistoryListPartial" model="@Model" />
    </div>

    <div id="load-indicator" class="htmx-indicator text-center py-3">
        <div class="spinner-border spinner-border-sm text-success" role="status"></div>
    </div>
</div>
