@using KamiYomu.Web.ViewComponents
@model BadgeChapterDownloadStatusViewComponentModel

<span class="badge @Model.BadgeClass" title="@Model.Legend"
      data-bs-toggle="popover"
      data-bs-trigger="hover focus"
      data-bs-placement="top"
      data-bs-content="@Model.Legend">
    @(I18n.ResourceManager.GetString(Model.ChapterDownloadRecord.DownloadStatus.ToString())
        ?? Model.ChapterDownloadRecord.DownloadStatus.ToString())
</span>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        popoverTriggerList.forEach(function (el) {
            new bootstrap.Popover(el);
        });
    });
</script>
