@page
@using KamiYomu.Web.Areas.Reader.Pages.MangaGallery
@model IndexModel
@{
}
<div class="row mb-4">
    <div class="col-md-8 col-lg-6">
        <div class="input-group">
            <span class="input-group-text bg-white border-end-0">
                <i class="bi bi-search text-muted"></i>
            </span>

            <input type="text" name="search" class="form-control border-start-0"
                   placeholder="@I18n.SearchManga"
                   hx-get="/Reader/MangaGallery?handler=Search"
                   hx-target="#manga-grid"
                   hx-trigger="keyup changed delay:500ms">

            <a asp-area="Reader" asp-page="/History/Index" class="btn btn-outline-primary d-flex align-items-center">
                <i class="bi bi-clock-history me-2"></i>
                @I18n.ReadingHistory
            </a>
        </div>
    </div>
</div>

<div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4" id="manga-grid">
    <partial name="_MangaGrid" model="Model.Libraries" />
</div>
