@page
@model KamiYomu.Web.Areas.Settings.Pages.CrawlerAgents.CreateModel
@{
    ViewData["Title"] = "Import Crawler Agent";
}

<div class="d-flex justify-content-between align-items-center m-3">
    <h2 class="h5 mb-0 text-primary">
        <i class="bi bi-puzzle me-3" aria-hidden="true"></i>
        @I18n.ImportCrawlerAgent
    </h2>
</div>


<form enctype="multipart/form-data"
      hx-post="/Settings/CrawlerAgents/Create?handler=Upload"
      hx-target="#crawler-editor"
      hx-swap="innerHTML"
      class="needs-validation"
      novalidate>
    @Html.AntiForgeryToken()

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a asp-area="Settings" asp-page="/CrawlerAgents/Index" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left-circle"></i> @I18n.Back
                </a>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <label name="agentFile" for="agentFileInput" class="form-label fw-semibold">Agent Crawler File</label>
        <div class="input-group input-group-lg">
            <input name="agentFile"
                   type="file"
                   class="form-control"
                   accept=".dll,.nupkg"
                   required
                   aria-describedby="agentFileHelp"
                   id="agentFileInput" />
            <button type="submit" class="btn btn-primary px-4" id="uploadBtn" disabled>Upload</button>
        </div>
        <div class="form-text" id="agentFileHelp">
            @I18n.AcceptedFormats: <code>.dll</code>, <code>.nupkg</code>
        </div>
        <span name="AgentFile" class="text-danger small"></span>
    </div>

</form>
<div asp-validation-summary="All" class="text-danger"></div>
<div id="crawler-editor" class="mt-4"></div>

<script>
    const fileInput = document.getElementById('agentFileInput');
    const uploadBtn = document.getElementById('uploadBtn');

    fileInput.addEventListener('change', () => {
      uploadBtn.disabled = !fileInput.files.length;
    });
</script>