@page

@model KamiYomu.Web.Areas.Settings.Pages.CrawlerAgents.EditModel
@{
    ViewData["Title"] = I18n.EditCrawlerAgent;
}

<div class="d-flex justify-content-between align-items-center m-3">
    <h2 class="h5 mb-0 text-primary">
        <i class="bi bi-puzzle me-3" aria-hidden="true"></i>
        @I18n.EditCrawlerAgent
    </h2>
</div>

@if (TempData["SuccessMessage"] is string message)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<partial name="_CrawlerAgentEditForm" model="Model.Input" />

<div asp-validation-summary="All" class="text-danger"></div>
