@page
@using KamiYomu.Web.Areas.Libraries.Pages.Collection.Dialogs
@using KamiYomu.Web.Extensions
@model MangaDetailsModel
@{
    Layout = null;
}
<div class="modal-header">
    <h5 class="modal-title">@I18n.CrawlerAgentDetails</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <partial name="_MangaInfo" model="Model.Manga" />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@I18n.Close</button>
</div>