@page
@using KamiYomu.CrawlerAgents.Core.Catalog
@using KamiYomu.Web.Areas.Libraries.Pages.Collection
@model SearchResultsModel
@{
    Layout = null;
}

    @foreach (var library in Model.Results)
    {
        <partial name="_LibraryCard" model="library" />
    }

@if(Model.Results.Any())
{
    <div hx-get="@Url.Page("/Collection/SearchResults", new {
            Area= "Libraries",
            Handler = ViewData["Handler"],
            Query = ViewData["query"],
            SelectedAgent = ViewData["selectedAgent"],
            OffSet = ViewData[nameof(PaginationOptions.OffSet)],
            Limit = ViewData[nameof(PaginationOptions.Limit)],
            ContinuationToken = ViewData[nameof(PaginationOptions.ContinuationToken)]
       })"
     hx-trigger="revealed"
     hx-swap="afterend"
     class="htmx-trigger d-block w-100">
    </div>
} 

