
<button class="btn btn-dark theme-switcher-fixed border" onclick="toggleTheme()" id="themeBtn">
    <i class="bi bi-moon-stars-fill me-1"></i> @I18n.ToggleTheme
</button>

<script>
    const getStoredTheme = () => localStorage.getItem('theme')
    const setStoredTheme = theme => localStorage.setItem('theme', theme)

    const getPreferredTheme = () => {
        const storedTheme = getStoredTheme()
        if (storedTheme) {
            return storedTheme
        }

        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
    }

    const setTheme = theme => {
        if (theme === 'auto') {
            document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
        } else {
            document.documentElement.setAttribute('data-bs-theme', theme)
        }

        updateThemeText(theme);
    }

    setTheme(getPreferredTheme());

    function updateThemeText(theme) {
        const btn = document.getElementById('themeBtn');
        if (theme === 'light') {
            btn.className = 'btn btn-light theme-switcher-fixed border opacity-75 opacity-sm-100';
            btn.innerHTML = `<i class="bi bi-sun-fill me-1"></i> @I18n.Light`;
        } else {
            btn.className = 'btn btn-dark theme-switcher-fixed border opacity-75 opacity-sm-100';
            btn.innerHTML = `<i class="bi bi-moon-stars-fill me-1"></i> @I18n.Dark`;
        }
    }
    function toggleTheme() {
        const html = document.documentElement;
        const current = html.getAttribute('data-bs-theme');
        const next = current === 'dark' ? 'light' : 'dark';
        setTheme(next);

        updateThemeText(next);
        setStoredTheme(next)
        setTheme(next)
    }

</script>
