services:
    kamiyomu.web:
      image: ${DOCKER_REGISTRY-}kamiyomuweb
      build:
        context: .
        dockerfile: KamiYomu.Web/Dockerfile
      volumes:
        - ./AppData/manga:/manga
        - ./AppData/db:/db 
        - ./AppData/agents:/agents 
        - kamiyomu_logs:/logs 
        - /etc/localtime:/etc/localtime:ro
      healthcheck:
        test: ["CMD", "curl", "-f", "https://localhost:5001/healthz"]
        interval: 30s
        timeout: 10s
        retries: 3

volumes:
  kamiyomu_agents:
  kamiyomu_database:
  kamiyomu_logs:


