@using KamiYomu.Web.AppOptions
@using KamiYomu.Web.Areas.Settings.ViewComponents
@model PackageListViewModel

@if (Model.PackageItems.Any())
{
    foreach (var packageItem in Model.PackageItems)
    {
       <vc:package-item view-model="packageItem"/>
    }
}
else
{
    <div class="alert alert-info" role="alert">
        @I18n.NoAddonsAvailable
    </div>
}

<iframe name="download-frame" style="display:none;"></iframe>
